body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #ff4d4d;
}

#sosBtn {
background: red;
color: white;
font-size: 24px;
padding: 20px 40px;
border: none;
border-radius: 50px;
cursor: pointer;
}

#sosBtn:hover {
background: darkred;
}

#output {
margin-top: 20px;
}
